---
layout: archive
title: Welcome
tags: [nikhil, mettupally, home, uah, machine learning, computer vision, data science, deep learning, graduate]
comments: false
permalink: home/
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].Welcom | default: "Welcome" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<div class="quote mediumText ">
  <div class="quoteDetails ">
        <a class="leftAlignedImage" href="/author/show/25211.Kent_Beck">
      <img alt="Kent Beck" src="https://images.gr-assets.com/authors/1345546877p2/25211.jpg">
</a>
<div class="quoteText">
      “I'm not a great programmer; I'm just a good programmer with great habits.”
  <br>  ―
  <span class="authorOrTitle">
    Kent Beck
  </span>
</div>

<h4> To know more about me click on Home. </h4>
