---
layout: archive
title: Welcome
tags: [nikhil, mettupally, home, uah, machine learning, computer vision, data science, deep learning, graduate]
comments: false
permalink: home/
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].Welcom | default: "Welcome" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<div class="quote mediumText ">
  <div class="quoteDetails ">
        <a class="leftAlignedImage" href="/author/show/25211.Kent_Beck">
      <img alt="Kent Beck" src="https://images.gr-assets.com/authors/1345546877p2/25211.jpg">
</a>
<div class="quoteText">
      “I'm not a great programmer; I'm just a good programmer with great habits.”
  <br>  ―
  <span class="authorOrTitle">
    Kent Beck
  </span>
</div>


<div class="quoteFooter">
   <div class="greyText smallText left">
     tags:
       <a href="/quotes/tag/programming">programming</a>
   </div>
   <div class="right">
     <a class="smallText" title="View this quote" href="/quotes/532211-i-m-not-a-great-programmer-i-m-just-a-good-programmer">48 likes</a>
   </div>
</div>

  </div>
  <br class="clear">
</div>
